<img src="/img/decoder_white.png" width="130" style="position:absolute; right:20px; top: 0px; z-index: -10;"> 

<br><br><br><br><br>
<p style="font-weight:bold">THE CONCEPT</p>
<p>
	We wanted a way to show people not only how important understanding our emotions are but specifically, how they can be used to inspire our creativity levels. The Decoder is the first stab at developing an algorithm that helps people crack their emotion code. We hope you play with it and let us know what you think and how it can be evolved and improved.
</p>

<br>
<!-- <p style="font-size:0.9em; color:grey;">
	Enter Emotion Code (EEC)
	+  Exit Emotion Code (XEC) 
	= Mindful Emotion Code (MEC)
</p> -->

<p style="font-weight:bold">THE CREATORS</p>
<p><a href="http://www.youjinshin.com/">Youjin Shin</a>, Creative Technologist</p>
<p><a href="http://www.thetapin.org/">Anne Koller</a>, Concept Design</p>
<p><a href="https:// www.linkedin.com/in/drtracyannessoglou">Dr. Tracy Ann Essoglou</a>, Concept Design Assistant</p>
<p><a href="http://www.nikkikurt.com">Nikki Kurt</a>, Decoder Logo Design</p>

<br>
<p style="font-weight:bold">REFERENCES</p>
<p>
	Emotions and corresponding colors referenced from <a href="http://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions">Robert Plutchik’s Wheel of Emotions”</a>, 1980. It consisted of 8 basic emotions and 8 combinations of emotions. 
</p>

<!-- <div style="position:relative; padding:30px; color:grey; font-size:0.82em; text-align:center; top:10px;"> The Decoder website has been developed by <a href="http://www.youjinshin.com/" style="color:grey;">YOUJIN SHIN</a>
</div>
 -->
