<style>
	body {
		background-color: none;
		color: rgb(180,180,180);
	}

	.form-group {
		font-family: sans-serif;
		text-align: center;
		letter-spacing: 2px;
		font-size: 0.9em !important;
		color: white;
		opacity: 0.98;
		/*color: rgb(20,20,20);*/
	}

	.col-sm-2 {
		border: 1px solid white;
		height: 50px;
	}

	.trust { background-color: #74b14a; }
	.fear { background-color: #2eb69e; }
	.surprise { background-color: #32a8c4; }
	.sadness { background-color: #4956a5; }
	.disgust { background-color: #8d418b; }
	.anger { background-color: #df4442; }
	.anticipation { background-color: #de8131; }
	.joy { background-color: #c7c638; }

	.fontdesign {
		padding-top: 15px;
	}
</style>

<h2> What emotion inspires your work? </h2><br>

<div class="form-group">

  <div class="col-sm-2 trust">
    <p class="fontdesign">Trust</p>
  </div>

  <div class="col-sm-2 fear">
    <p class="fontdesign">Fear</p>
  </div>

  <div class="col-sm-2 surprise">
    <p class="fontdesign">Surprise</p>
  </div>

  <div class="col-sm-2 sadness">
    <p class="fontdesign">Sadness</p>
  </div>

  <div class="col-sm-2 disgust">
    <p class="fontdesign">Disgust</p>
  </div>

  <div class="col-sm-2 anger">
    <p class="fontdesign">Anger</p>
  </div>
<!-- 
  <div class="col-sm-1 anticipation">
    <p class="fontdesign">Anticipation</p>
  </div>

  <div class="col-sm-1 joy">
    <p class="fontdesign">Joy</p>
  </div> -->

</div>
