<style>
body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}

h2 { letter-spacing: 1px; font-size: 2.6em; }

.form-group {
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 2px;
	font-size: 0.9em !important;
	color: white;
}

.col-sm-2 {
	border: 1px solid black;
	height: 50px;
}
.surprise { background-color: #59a7d8; }
.sadness { background-color: #663ec7; }
.fear { background-color: #62dcc7; }
.anger { background-color: #ed462f; }
.disgust { background-color: #b048be; }
.serenity { background-color: #8ad698; }
.happiness { background-color: #ffed34; }
.freedom { background-color: #f49c31; }

/*.trust { background-color: #74b14a; }
.anticipation { background-color: #de8131; }
.joy { background-color: #c7c638; }*/

.fontdesign {
	padding-top: 15px;
}
</style>

<!--  -->
<h2> What emotion inspires your work? </h2><br>

<div class="form-group">
  <div class="col-sm-2 surprise">
    <p class="fontdesign">SURPRISE</p>
  </div>

  <div class="col-sm-2 sadness">
    <p class="fontdesign">SADNESS</p>
  </div>

  <div class="col-sm-2 fear">
    <p class="fontdesign">FEAR</p>
  </div>

  <div class="col-sm-2 anger">
    <p class="fontdesign">ANGER</p>
  </div>

  <div class="col-sm-2 disgust">
    <p class="fontdesign">DISGUST</p>
  </div>

  <div class="col-sm-2 serenity">
    <p class="fontdesign">SERENITY</p>
  </div>

  <div class="col-sm-2 happiness">
    <p class="fontdesign">HAPPINESS</p>
  </div>

   <div class="col-sm-2 freedom">
    <p class="fontdesign">FREEDOM</p>
  </div>

</div>

<!-- <button type="button" class="btn btn-default" onClick="location.href='enter' "> -->
<br>
<button type="button" class="btn btn-default" >
	Submit
</button>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
$( ".col-sm-2" )
  .on( "mouseenter", function() {
    $( this ).css({
      // "background-color": "yellow",
      "opacity": "0.7",
      "color" : "rgba(255,255,255,1)"
    });
  })
  .on( "mouseleave", function() {
    var styles = {
      "opacity" : "1"
    };
    $( this ).css( styles );
  });
</script>





