<style>
body {
	font: 1em sans-serif;
	letter-spacing: 1px;
	padding: 5%;
	padding-bottom: 20px;
}
.legend label, .legend span {
    display:block;
    float:left;
    height:66px;
    width:50%;
    text-align:center;
    font-size:10px;
    color:#808080;
    margin-top: 1px;
}
.emotion {
	position: relative;
	font: 1.2em sans-serif !important;
	top: 40%;
	color: white;
	letter-spacing: 2px;
}
.emotionBG {
	 border: 1px solid white;
}
h2 {
	font: 2.1em sans-serif;
}
.submitD {
	border-color: black;
	color: black;
}
</style>

<h2>What emotion<span style="font-weight:bold"> inspires </span>your work?</h2>

<div id = "legend" class="emotion" style="position:relative; top:20px">
	<!-- <strong>Obese (%)</strong> -->
	<nav class='legend clearfix '>
	  <span style='background:#59a7d8;' class="emotionBG">
	  	<p class="emotion">SURPRISE</p>
	  </span>
	  <span style='background:#663ec7;' class="emotionBG">
	  	<p class="emotion">SADNESS</p>
	  </span>
	  <span style='background:#62dcc7;' class="emotionBG">
	  	<p class="emotion">FEAR</p>
	  </span>
	  <span style='background:#ed462f;' class="emotionBG">
	  	<p class="emotion">ANGER</p>
	  </span>
	  <span style='background:#b048be;' class="emotionBG">
	  	<p class="emotion">DISGUST</p>
	  </span>
	  <span style='background:#8ad698;' class="emotionBG">
	  	<p class="emotion">SERENITY</p>
	  </span>
	  <span style='background:#ffed34;' class="emotionBG">
	  	<p class="emotion">HAPPINESS</p>
	  </span>
	  <span style='background:#f49c31;' class="emotionBG">
	  	<p class="emotion">FREEDOM</p>
	  </span>
	</nav>
</div>

<a href="/firstEmotionCode">
	<button type="button" class="btn btn-default submitD" style="position:relative; top: 50px;">
		Submit
	</button>
</a>

<div style="padding:30px"></div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$( ".emotionBG" )
  .on( "mouseenter", function() {
    $( this ).css({
      // "background-color": "yellow",
      "opacity": "0.7",
      "color" : "rgba(255,255,255,1)"
    });
  })
  .on( "mouseleave", function() {
    var styles = {
      "opacity" : "1"
    };
    $( this ).css( styles );
  });
</script>
