<style>
body {
	font: 1em sans-serif;
	letter-spacing: 1px;
}
.legend label, .legend span {
    display:block;
    float:left;
    height:64px;
    width:50%;
    text-align:center;
    font-size:10px;
    color:#808080;
    margin-top: 3px;
}
.emotion {
	/*vertical-align: middle !important;*/
	position: relative;
	font: 1.2em sans-serif !important;
	top: 40%;
	color: white;
	letter-spacing: 2px;
}
h2 {
	font: 2.1em sans-serif;
	/*color: rgb(180,180,180);*/
}
</style>

<h2>What emotion<span style="font-weight:bold"> inspires </span>your work?</h2>

<div id = "legend" class="emotion" style="position:relative; top:20px">
	<!-- <strong>Obese (%)</strong> -->
	<nav class='legend clearfix '>
	  <span style='background:#59a7d8;'>
	  	<p class="emotion">SURPRISE</p>
	  </span>
	  <span style='background:#663ec7;'>
	  	<p class="emotion">SADNESS</p>
	  </span>
	  <span style='background:#62dcc7;'>
	  	<p class="emotion">FEAR</p>
	  </span>
	  <span style='background:#ed462f;'>
	  	<p class="emotion">ANGER</p>
	  </span>
	  <span style='background:#b048be;'>
	  	<p class="emotion">DISGUST</p>
	  </span>
	  <span style='background:#8ad698;'>
	  	<p class="emotion">SERENITY</p>
	  </span>
	  <span style='background:#ffed34;'>
	  	<p class="emotion">HAPPINESS</p>
	  </span>
	  <span style='background:#f49c31;'>
	  	<p class="emotion">FREEDOM</p>
	  </span>
	</nav>
<!-- 	<div class="legend-labels">     
	   <div style="float:right; text-align:right;"> >30%</div>
	   <div>0%</div>
	</div> -->
</div>