<style>
body {
	font: 1em sans-serif;
	letter-spacing: 1px;
	padding: 5%;
	padding-bottom: 20px;
}
.legend label, .legend span {
    display:block;
    float:left;
    height:60px;
    width:50%;
    text-align:center;
    font-size:10px;
    color:#808080;
    margin-top: 3px;
}
.emotion {
	position: relative;
	font: 1.2em sans-serif !important;
	top: 40%;
	color: white;
	letter-spacing: 2px;
}
.emotionBG {
	background-color: rgb(170,170,170);
	 /*border: 1px solid white;*/
}
h2 {
	font: 2.1em sans-serif;
}
.btn-default{
	background-color: white !important;
	color: black !important;
	background-image: none !important;
	border-bottom-color: none !important;
	border-color: black !important;
	top: 20px;
	left: 20% !important;
}
input[type=checkbox] {
	visibility: hidden;
}
.description {
	position: relative;
	top: 10px;
	font: 0.6em sans-serif !important;
	font-weight: lighter;
	color: rgb(160,160,160);
}
</style>
 <!-- <link rel="stylesheet" href="/css/checkDesign.css"> -->

<h2>What emotions<span style="font-weight:bold"> inspire </span>your work?</h2>

<form method="POST" action="/createFirstEmotion" role="form" style="position:relative; top:10px;">
		<input type="text" name="name" value={{name}} id="name" style="display:none">
		<input type="text" name="state" value="primary" id="state" style="display:none">

		<nav class='legend clearfix '>
		  	<label class="emotionBG" id="surpriseC">
		  			<p class="emotion">SURPRISE</p>
			  		<input type="checkbox" name="surprise"  value="1" id="surprise">
			  		
			</label>

			<label class="emotionBG" id="sadnessC">
		  			<p class="emotion">SADNESS</p>
			  		<input type="checkbox" name="sadness" value="1" id="sadness">
			</label>

			<label class="emotionBG" id="fearC">
		  			<p class="emotion">FEAR</p>
			  		<input type="checkbox" name="fear" value="1" id="fear">
			</label>

			<label class="emotionBG" id="angerC">
		  			<p class="emotion">ANGER</p>
			  		<input type="checkbox" name="anger" value="1" id="anger">
			</label>

			<label class="emotionBG" id="disgustC">
		  			<p class="emotion">DISGUST</p>
			  		<input type="checkbox" name="disgust" value="1" id="disgust">
			</label>

			<label class="emotionBG" id="serenityC">
		  			<p class="emotion">SERENITY</p>
			  		<input type="checkbox" name="serenity" value="1" id="serenity">
			</label>

			<label class="emotionBG" id="joyC">
		  			<p class="emotion">JOY</p>
			  		<input type="checkbox" name="joy" value="1" id="joy">
			</label>

			<label class="emotionBG" id="interestC">
		  			<p class="emotion">INTEREST</p>
			  		<input type="checkbox" name="interest" value="1" id="interest">
			</label>
		</nav>
	</div>

	<br><br><br>
	<button type="submit" class="btn btn-default">
		Submit
	</button>
</form>


<div style="padding:20px"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
var c = "rgb(170,170,170)";

// if(document.getElementById("surprise").checked){
//   document.getElementById('surpriseHidden').disabled = true;
// }

///////////////////////////////
var surprise_clicked = -1;
$( "#surprise" )
  .on( "click", function() {
  	surprise_clicked = surprise_clicked * (-1);
  	console.log("surprise_clicked: "+ surprise_clicked);
  	if(surprise_clicked === 1 ) {  $( "#surpriseC"  ).css({ "background-color": "#59a7d8"}); };
	if(surprise_clicked === -1) {  $( "#surpriseC"  ).css({ "background-color": c}); }
  });

var sadness_clicked = -1;
$( "#sadness" )
  .on( "click", function() {
  	sadness_clicked = sadness_clicked * (-1);
  	console.log("sadness_clicked: "+ sadness_clicked);
  	if(sadness_clicked === 1 ) { $( "#sadnessC" ).css({ "background-color": "#663ec7"}); };
	if(sadness_clicked === -1) { $( "#sadnessC" ).css({ "background-color": c}); }
  });

var fear_clicked = -1;
$( "#fear" )
  .on( "click", function() {
  	fear_clicked = fear_clicked * (-1);
  	console.log("fear_clicked: "+ fear_clicked);
  	if(fear_clicked === 1 ) { $( "#fearC" ).css({ "background-color": "#62dcc7"}); };
	if(fear_clicked === -1) { $( "#fearC").css({ "background-color": c}); }
  });

var anger_clicked = -1;
$( "#anger" )
  .on( "click", function() {
  	anger_clicked = anger_clicked * (-1);
  	console.log("anger_clicked: "+ anger_clicked);
  	if(anger_clicked === 1 ) { $( "#angerC" ).css({ "background-color": "#ed462f"}); };
	if(anger_clicked === -1) { $( "#angerC" ).css({ "background-color": c}); }
  });

var disgust_clicked = -1;
$( "#disgust" )
  .on( "click", function() {
  	disgust_clicked = disgust_clicked * (-1);
  	console.log("disgust_clicked: "+ disgust_clicked);
  	if(disgust_clicked === 1 ) { $( "#disgustC" ).css({ "background-color": "#b048be"}); };
	if(disgust_clicked === -1) { $( "#disgustC" ).css({ "background-color": c}); }
  });

var serenity_clicked = -1;
$( "#serenity" )
  .on( "click", function() {
  	serenity_clicked = serenity_clicked * (-1);
  	console.log("serenity_clicked: "+ serenity_clicked);
  	if(serenity_clicked === 1 ) { $( "#serenityC" ).css({ "background-color": "#8ad698"}); };
	if(serenity_clicked === -1) { $( "#serenityC" ).css({ "background-color": c}); }
  });

var joy_clicked = -1;
$( "#joy" )
  .on( "click", function() {
  	joy_clicked = joy_clicked * (-1);
  	console.log("joy_clicked: "+ joy_clicked);
  	if(joy_clicked === 1 ) { $( "#joyC" ).css({ "background-color": "#ffed34"}); };
	if(joy_clicked === -1) { $( "#joyC" ).css({ "background-color": c}); }
  });

var interest_clicked = -1;
$( "#interest" )
  // .on( "mouseenter", function() { $(this).css({"opacity":"0.8"}); })
  // .on( "mouseleave", function() { $(this).css({"opacity":"1"}); })
  .on( "click", function() {
  	interest_clicked = interest_clicked * (-1);
  	console.log("interest_clicked: "+ interest_clicked);
  	if(interest_clicked === 1 ) { $( "#interestC" ).css({ "background-color": "#f49c31"}); };
	if(interest_clicked === -1) { $( "#interestC" ).css({ "background-color": c}); }
  });

</script>
