<style>
body {
	background-color: black;
	font: 2.1em sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
}
.logo {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	opacity: 0.6;
}
.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0.2;
	z-index: -10;
}
p {
	opacity: 1.0;
}
.btn-default{
	background-color: black !important;
	color: white !important;
	background-image: none !important;
	border-bottom-color: none !important;
	border-color: white !important;
}
a, a:hover {
	background-color: none;
	color: none;
	text-decoration: none;
}
.description {
	position: relative;
	top: 200px;
	font: 0.56em sans-serif;
	font-weight: lighter;
	color: rgb(70,70,70);
}
</style>
<!-- <img class="logo" src="/img/decoder_black.png" > -->

<form method="POST" action="/checkState" role="form" style="position:relative; top:140px;">
	
	<p>What is your <span style="font-weight:bold; ">emotion ID</span> ?</p>
	<input type="text" class="form-control" name="name">
	<br>

	<button type="submit" class="btn btn-default" style="background-color:black !important;" >
		Crack your emotion code
	</button>
</form>

<p class="description">
	Emotions have the ability to drive and inspire us but can block and limit us if we don't take time to understand and own them. Playing with the idea that we each have an emotion code, we invite you to answer a few questions as you enter the Crack Your Emotion Code experience and as you exit to jump-start your thinking.
</p>
<!-- <div style="position:relative; top:140px;">
	<p>What is your <span style="font-weight:bold; ">emotion ID</span> ?</p>
	<input type="text" class="form-control" id="name">
	<br>

	<a href="/createFirstEmotion">
	<button type="button" class="btn btn-default" style="background-color:black !important;" >
		Primary
	</button>
	</a>

	<a href="/secondEmotion">
	<button type="button" class="btn btn-default">
		Aspirational
	</button>
	</a>

	<a href="/view">
	<button type="button" class="btn btn-default">
		Emotion Code
	</button>
	</a>
</div> -->
