<style>
body {
	background-color: black;
	font: 2.1em sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
}
.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0.2;
	z-index: -10;
}
p {
	opacity: 1.0;
}

.btn-default{
	background-color: black !important;
	color: white !important;
	background-image: none !important;
	border-bottom-color: none !important;
	border-color: white !important;
}
a, a:hover {
	background-color: none;
	color: none;
	text-decoration: none;
}
</style>
<!-- <img class="bg" src="/img/ecode.png" > -->

<div style="position:relative; top:140px;">
	<p>What is your <span style="font-weight:bold; ">emotion ID</span> ?</p>

	<input type="text" class="form-control">
	<br>

	<a href="/firstEmotion">
	<button type="button" class="btn btn-default" style="background-color:black !important;" >
		Primary
	</button>
	</a>

	<a href="/secondEmotion">
	<button type="button" class="btn btn-default">
		Aspirational
	</button>
	</a>

	<a href="/view">
	<button type="button" class="btn btn-default">
		Emotion Code
	</button>
	</a>

<!-- 	<a href="/enter">
	<button type="button" class="btn btn-default" style="font-size:1.2em">
		Submit
	</button> -->
</a>
</div>