<style>
	body {
		font-family: sans-serif !important;
		letter-spacing: 1px !important;
		background: black !important;
	}
	.radial {
		fill: none;
	}
	#firstEG {
		width: 100%;
	}
	p {
		color: white;
		line-height:140% !important;
	}
	.btn-default{
		background-color: black !important;
		color: white !important;
		background-image: none !important;
		border-bottom-color: none !important;
		border-color: white !important;
	}
	.col-md-6 {
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
</style>
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css"> -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<div class="row">
	<div class="col-md-6">
		<div id="firstEG" class="col-md-6"></div>
	</div>

	<div class="col-md-6" style="top:20px">
		<p><span style="font-weight:bold; font-size: 1.6em;">Enter Emotion Code (EEC) </span>

		<br><br>
		<span style="font-size:1em; color:rgb(80,80,80)">Enjoy your experience. Don’t forget to log in before you leave to receive your full Emotion Code.
		</span></p>

		<br>
		<a href="/">
			<button type="button" class="btn btn-default" style="background-color:black !important;" >
				Go to the first page
			</button>
		</a>
	</div>
</div>



<script>
var width = parseInt(d3.select('#firstEG').style('width'), 10),
	height = width*1.1;

var margin = { top: 20, right:20, bottom:30, left:20};

width = width - margin.left - margin.right,
height = height - margin.top - margin.bottom;

var theta = d3.scale.linear()
			.range([0, Math.PI*2]);

var svg = d3.select("#firstEG").append("svg")
			.attr("width", width)
			.attr("height", height);

var bg = svg.append("rect")
			.attr("x", -margin.left)
			.attr("y", -margin.top)
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
			.style("fill", "none");

var tooltip = d3.select("body")
	.append("div")
	.style("position", "absolute")
	.style("z-index", "10")
	.style("padding", "8px")
	.style("color", "white")
	// .style("background-color", "rgba(0,0,0,0.6)")
	.style("visibility", "hidden");
	// .attr("id", "tooltip");

var data = [
{	
	"emotion": "surprise",
	"selected": {{ emotion.first.surprise }}
}, {
	"emotion": "disapproval",
	"selected": {{ emotion.first.disapproval }}
}, {
	"emotion": "sadness",
	"selected": {{ emotion.first.sadness }}
}, {
	"emotion": "remorse",
	"selected": {{ emotion.first.remorse }}
}, {
	"emotion": "disgust",
	"selected": {{ emotion.first.disgust }}
}, {
	"emotion": "contempt",
	"selected": {{ emotion.first.contempt }}
}, {
	"emotion": "anger",
	"selected": {{ emotion.first.anger }}
}, {
	"emotion": "aggressiveness",
	"selected": {{ emotion.first.aggressiveness }}
}, {
	"emotion": "interest",
	"selected": {{ emotion.first.interest }}
}, {
	"emotion": "optimism",
	"selected": {{ emotion.first.optimism }}
}, {
	"emotion": "joy",
	"selected": {{ emotion.first.joy }}
}, {
	"emotion": "love",
	"selected": {{ emotion.first.love }}
}, {
	"emotion": "trust",
	"selected": {{ emotion.first.trust }}
}, {
	"emotion": "submission",
	"selected": {{ emotion.first.submission }}
}, {
	"emotion": "fear",
	"selected": {{ emotion.first.fear }}
}
];

console.log(data);
makeRadial();

function makeRadial() {
	console.log("makeRadial function");
	// console.log(document.getElementById('name').value);

	var radius = width*0.38;
	var tx = (width + margin.left + margin.right)/2;
	var ty = (height + margin.top + margin.bottom)/2 - 20;

	var firstRadial = svg.selectAll(".radial")
							.data(data)
						.enter().append("line")
						.attr("transform", "translate("+tx+","+ty+ ")");

	var th = 2*Math.PI / 14; // Math.PI / 4

	firstRadial.attr("x1", function(d, i) { 
			console.log(d);
			return Math.cos(i * th) * radius; })
		.attr("y1", function(d, i) {
			return Math.sin(i * th) * radius; })
		.attr("x2", function(d, i) {
			return Math.cos(i * th) * radius *0.06; })
		.attr("y2", function(d, i) {
			return Math.sin(i * th) * radius *0.06; })
		.attr("stroke-width", 3)
		.attr("stroke", function(d) {
			if(d.selected === 1) {
				return getColor(d.emotion);
			} else {
				return "rgba(235,235,235, 0.2)";
			}
		})
		.on("mouseover", function(d){
          tooltip.text(d.emotion );
          d3.select(this).style("stroke-width", 10);
          tooltip.style("visibility", "visible");
        })
        .on("mousemove", function(){
          tooltip.style("top", (event.pageY-10)+"px")
          		 .style("left",(event.pageX+10)+"px");
        })
        .on("mouseout", function(){
          d3.select(this).style("stroke-width", 3);
          tooltip.style("visibility", "hidden"); 
      	});
}

function getColor(d) {
	if(d === "surprise") { return "#33a9c5"; }
	else if(d === "disapproval") { return "#6c77b9"; } 
	else if(d === "sadness") { return "#4956a5"; } 
	else if(d === "remorse") { return "#8d73b4"; } 
	else if(d === "disgust") { return "#8d418b"; } 
	else if(d === "contempt") { return "#e9746d"; } 
	else if(d === "anger") { return "#df4342"; } 
	else if(d === "aggressiveness") { return "#ea8b5b"; }
	else if(d === "interest") { return "#de8131"; } 
	else if(d === "optimism") { return "#e5d953"; } 
	else if(d === "joy") { return "#c7c638"; } 
	else if(d === "love") { return "#a6c160"; } 
	else if(d === "trust") { return "#73b049"; } 
	else if(d === "submission") { return "#7cc37d"; } 
	else if(d === "fear") { return "#2eb69d"; }
}

</script>
