<style>
body {
	font-family: sans-serif;
	letter-spacing: 1px;
	padding: 5%;
	padding-bottom: 20px;
}
.legend label, .legend span {
    display:block;
    float:left;
    height:50px;
    width:50%;
    text-align:center;
    font-size:10px;
    color:#808080;
    margin-top: 1px;
}
.emotion {
	position: relative;
	font: 1.2em sans-serif !important;
	top: 40%;
	color: white;
	letter-spacing: 2px;
}
.emotionBG {
	background-color: rgb(170,170,170);
}
h2 {
	font: 1.8em sans-serif;
}
.btn-default{
	background-color: white !important;
	color: black !important;
	background-image: none !important;
	border-bottom-color: none !important;
	border-color: black !important;
}
input[type=checkbox] {
	visibility: hidden;
}
.description {
	position: relative;
	top: 10px;
	font: 0.9em sans-serif !important;
	font-weight: lighter;
	color: grey;
	padding-bottom: 15px;
}
</style>

<h2>After tonight's experience, what emotions could <span style="font-weight:bold"> inspire </span>your work?</h2>

<p class="description">
	Having completed your journey through Crack Your Emotion Code, revisit the design and select the emotions that could inspire your work that you intend on exploring further to create your <span style="font-weight:bold">Exit Emotion Code (XEC)</span>

<!-- 	Having completed your visits to our emotion hot spots today, revisit the design and select emotions for <span style="font-weight:bold">Exit Emotion Code (XEC)</span> that you intend on exploring further. -->
</p>


<form method="POST" action="/createSecondEmotion" role="form" style="position:relative; top:10px;">
		<input type="text" name="name" value={{emotion.name}} id="name" style="display:none">
		<input type="text" name="state" value="aspirational" id="state" style="display:none">

		<nav class='legend clearfix '>
			<label class="emotionBG" id="surpriseC">
		  			<p class="emotion">SURPRISE</p>
			  		<input type="checkbox" name="surprise"  value="1" id="surprise">
			</label>

			<label class="emotionBG" id="disapprovalC">
		  			<p class="emotion">DISAPPROVAL</p>
			  		<input type="checkbox" name="disapproval"  value="1" id="disapproval">
			</label>

			<label class="emotionBG" id="sadnessC">
		  			<p class="emotion">SADNESS</p>
			  		<input type="checkbox" name="sadness" value="1" id="sadness">
			</label>

			<label class="emotionBG" id="remorseC">
		  			<p class="emotion">REMORSE</p>
			  		<input type="checkbox" name="remorse" value="1" id="remorse">
			</label>

			<label class="emotionBG" id="disgustC">
		  			<p class="emotion">DISGUST</p>
			  		<input type="checkbox" name="disgust" value="1" id="disgust">
			</label>

			<label class="emotionBG" id="contemptC">
		  			<p class="emotion">CONTEMPT</p>
			  		<input type="checkbox" name="contempt" value="1" id="contempt">
			</label>

			<label class="emotionBG" id="angerC">
		  			<p class="emotion">ANGER</p>
			  		<input type="checkbox" name="anger" value="1" id="anger">
			</label>

			<label class="emotionBG" id="aggressivenessC">
		  			<p class="emotion">AGGRESSIVENESS</p>
			  		<input type="checkbox" name="aggressiveness" value="1" id="aggressiveness">
			</label>

			<label class="emotionBG" id="interestC">
		  			<p class="emotion">INTEREST</p>
			  		<input type="checkbox" name="interest" value="1" id="interest">
			</label>

			<label class="emotionBG" id="optimismC">
		  			<p class="emotion">OPTIMISM</p>
			  		<input type="checkbox" name="optimism" value="1" id="optimism">
			</label>

			<label class="emotionBG" id="joyC">
		  			<p class="emotion">JOY</p>
			  		<input type="checkbox" name="joy" value="1" id="joy">
			</label>

			<label class="emotionBG" id="loveC">
		  			<p class="emotion">LOVE</p>
			  		<input type="checkbox" name="love" value="1" id="love">
			</label>

			<label class="emotionBG" id="trustC">
		  			<p class="emotion">TRUST</p>
			  		<input type="checkbox" name="trust" value="1" id="trust">
			</label>
			
			<label class="emotionBG" id="submissionC">
		  			<p class="emotion">SUBMISSION</p>
			  		<input type="checkbox" name="submission" value="1" id="submission">
			</label>
			
			<label class="emotionBG" id="fearC">
		  			<p class="emotion">FEAR</p>
			  		<input type="checkbox" name="fear" value="1" id="fear">
			</label>
		</nav>
	</div>

	<br>
	<button type="submit" class="btn btn-default">
		Submit
	</button>
</form>

<div style="position:relative; padding:20px;"></div>

<!-- <div style="position:relative; padding:30px; color:grey; font-size:0.8em !important; text-align:center; top:20px;">
	BY <a href="http://www.youjinshin.com/" style="color:grey; ">YOUJIN SHIN</a>
</div> -->

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
var c = "rgb(170,170,170)";
var c2 = "rgb(150,150,150)";
// if(document.getElementById("surprise").checked){
//   document.getElementById('surpriseHidden').disabled = true;
// }

var surprise_clicked = -1;
$( "#surprise" )
  .on( "click", function() {
  	surprise_clicked = surprise_clicked * (-1);
  	console.log("surprise_clicked: "+ surprise_clicked);
  	if(surprise_clicked === 1 ) {  $( "#surpriseC"  ).css({ "background-color": "#33a9c5"}); };
	if(surprise_clicked === -1) {  $( "#surpriseC"  ).css({ "background-color": c}); }
  });

var disapproval_clicked = -1;
$( "#disapproval" )
  .on( "click", function() {
  	disapproval_clicked = disapproval_clicked * (-1);
  	console.log("disapproval_clicked: "+ disapproval_clicked);
  	if(disapproval_clicked === 1 ) {  $( "#disapprovalC"  ).css({ "background-color": "#6c77b9"}); };
	if(disapproval_clicked === -1) {  $( "#disapprovalC"  ).css({ "background-color": c}); }
  });

var sadness_clicked = -1;
$( "#sadness" )
  .on( "click", function() {
  	sadness_clicked = sadness_clicked * (-1);
  	console.log("sadness_clicked: "+ sadness_clicked);
  	if(sadness_clicked === 1 ) { $( "#sadnessC" ).css({ "background-color": "#4956a5"}); };
	if(sadness_clicked === -1) { $( "#sadnessC" ).css({ "background-color": c}); }
  });

var remorse_clicked = -1;
$( "#remorse" )
  .on( "click", function() {
  	remorse_clicked = remorse_clicked * (-1);
  	console.log("remorse_clicked: "+ remorse_clicked);
  	if(remorse_clicked === 1 ) { $( "#remorseC" ).css({ "background-color": "#8d73b4"}); };
	if(remorse_clicked === -1) { $( "#remorseC" ).css({ "background-color": c}); }
  });

var disgust_clicked = -1;
$( "#disgust" )
  .on( "click", function() {
  	disgust_clicked = disgust_clicked * (-1);
  	console.log("disgust_clicked: "+ disgust_clicked);
  	if(disgust_clicked === 1 ) { $( "#disgustC" ).css({ "background-color": "#8d418b"}); };
	if(disgust_clicked === -1) { $( "#disgustC" ).css({ "background-color": c}); }
  });

var contempt_clicked = -1;
$( "#contempt" )
  .on( "click", function() {
  	contempt_clicked = contempt_clicked * (-1);
  	console.log("contempt_clicked: "+ contempt_clicked);
  	if(contempt_clicked === 1 ) { $( "#contemptC" ).css({ "background-color": "#e9746d"}); };
	if(contempt_clicked === -1) { $( "#contemptC").css({ "background-color": c}); }
  });

var anger_clicked = -1;
$( "#anger" )
  .on( "click", function() {
  	anger_clicked = anger_clicked * (-1);
  	console.log("anger_clicked: "+ anger_clicked);
  	if(anger_clicked === 1 ) { $( "#angerC" ).css({ "background-color": "#df4342"}); };
	if(anger_clicked === -1) { $( "#angerC" ).css({ "background-color": c}); }
  });

var aggressiveness_clicked = -1;
$( "#aggressiveness" )
  .on( "click", function() {
  	aggressiveness_clicked = aggressiveness_clicked * (-1);
  	console.log("aggressiveness_clicked: "+ aggressiveness_clicked);
  	if(aggressiveness_clicked === 1 ) { $( "#aggressivenessC" ).css({ "background-color": "#ea8b5b"}); };
	if(aggressiveness_clicked === -1) { $( "#aggressivenessC").css({ "background-color": c}); }
  });

var interest_clicked = -1;
$( "#interest" )
  .on( "click", function() {
  	interest_clicked = interest_clicked * (-1);
  	console.log("interest_clicked: "+ interest_clicked);
  	if(interest_clicked === 1 ) { $( "#interestC" ).css({ "background-color": "#de8131"}); };
	if(interest_clicked === -1) { $( "#interestC" ).css({ "background-color": c}); }
  });

var optimism_clicked = -1;
$( "#optimism" )
  .on( "click", function() {
  	optimism_clicked = optimism_clicked * (-1);
  	console.log("optimism_clicked: "+ optimism_clicked);
  	if(optimism_clicked === 1 ) { $( "#optimismC" ).css({ "background-color": "#e5d953"}); };
	if(optimism_clicked === -1) { $( "#optimismC").css({ "background-color": c}); }
  });

var joy_clicked = -1;
$( "#joy" )
  .on( "click", function() {
  	joy_clicked = joy_clicked * (-1);
  	console.log("joy_clicked: "+ joy_clicked);
  	if(joy_clicked === 1 ) { $( "#joyC" ).css({ "background-color": "#c7c638"}); };
	if(joy_clicked === -1) { $( "#joyC" ).css({ "background-color": c}); }
  });

var love_clicked = -1;
$( "#love" )
  .on( "click", function() {
  	love_clicked = love_clicked * (-1);
  	console.log("love_clicked: "+ love_clicked);
  	if(love_clicked === 1 ) { $( "#loveC" ).css({ "background-color": "#a6c160"}); };
	if(love_clicked === -1) { $( "#loveC").css({ "background-color": c}); }
  });

var trust_clicked = -1;
$( "#trust" )
  .on( "click", function() {
  	trust_clicked = trust_clicked * (-1);
  	console.log("trust_clicked: "+ trust_clicked);
  	if(trust_clicked === 1 ) { $( "#trustC" ).css({ "background-color": "#73b049"}); };
	if(trust_clicked === -1) { $( "#trustC").css({ "background-color": c}); }
  });

var submission_clicked = -1;
$( "#submission" )
  .on( "click", function() {
  	submission_clicked = submission_clicked * (-1);
  	console.log("submission_clicked: "+ submission_clicked);
  	if(submission_clicked === 1 ) { $( "#submissionC" ).css({ "background-color": "#7cc37d"}); };
	if(submission_clicked === -1) { $( "#submissionC" ).css({ "background-color": c}); }
  });


var fear_clicked = -1;
$( "#fear" )
  .on( "click", function() {
  	fear_clicked = fear_clicked * (-1);
  	console.log("fear_clicked: "+ fear_clicked);
  	if(fear_clicked === 1 ) { $( "#fearC" ).css({ "background-color": "#2eb69d"}); };
	if(fear_clicked === -1) { $( "#fearC").css({ "background-color": c}); }
  });


// checkPrimary();

// function checkPrimary() {
// 	console.log("checkPrimary function");
// 	if( {{ emotion.first.surprise }} == 1) { 
// 		$( "#surpriseC" ).css({ "background-color": c2 });
// 		$('#surprise').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.sadness }} == 1) { 
// 		$( "#sadnessC" ).css({ "background-color": c2 });
// 		$('#sadness').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.fear }} == 1) { 
// 		$( "#fearC" ).css({ "background-color": c2 });
// 		$('#fear').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.anger }} == 1) { 
// 		$( "#angerC" ).css({ "background-color": c2 });
// 		$('#anger').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.disgust }} == 1) { 
// 		$( "#disgustC" ).css({ "background-color": c2 });
// 		$('#disgust').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.serenity }} == 1) { 
// 		$( "#serenityC" ).css({ "background-color": c2 });
// 		$('#serenity').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.happiness }} == 1) { 
// 		$( "#happinessC" ).css({ "background-color": c2 });
// 		$('#happiness').attr("disabled", true);
// 	}
// 	if( {{ emotion.first.freedom }} == 1) { 
// 		$( "#freedomC" ).css({ "background-color": c2 });
// 		$('#freedom').attr("disabled", true);
// 	}
// }
</script>
