<style>
body {
	font: 1em sans-serif;
	letter-spacing: 1px;
	padding: 5%;
	padding-bottom: 20px;
}
.legend label, .legend span {
    display:block;
    float:left;
    height:66px;
    width:50%;
    text-align:center;
    font-size:10px;
    color:#808080;
    margin-top: 3px;
}
.emotion {
	position: relative;
	font: 1.2em sans-serif !important;
	top: 40%;
	color: white;
	letter-spacing: 2px;
}
.emotionBG {
	background-color: rgb(170,170,170);
	 /*border: 1px solid white;*/
}
h2 {
	font: 2.1em sans-serif;
}
.btn-default{
	background-color: white !important;
	color: black !important;
	background-image: none !important;
	border-bottom-color: none !important;
	border-color: black !important;
}
</style>

<h2>What emotion could <span style="font-weight:bold"> inspire </span>your work?</h2>

<div id = "legend" class="emotion" style="position:relative; top:20px">
	<!-- <strong>Obese (%)</strong> -->
	<nav class='legend clearfix '>
	  <span class="emotionBG" id="surpise">
	  	<p class="emotion">SURPRISE</p>
	  </span>
	  <span class="emotionBG" id="sadness">
	  	<p class="emotion">SADNESS</p>
	  </span>
	  <span class="emotionBG" id="fear">
	  	<p class="emotion">FEAR</p>
	  </span>
	  <span class="emotionBG" id="anger">
	  	<p class="emotion">ANGER</p>
	  </span>
	  <span class="emotionBG" id="disgust">
	  	<p class="emotion">DISGUST</p>
	  </span>
	  <span class="emotionBG" id="serenity">
	  	<p class="emotion">SERENITY</p>
	  </span>
	  <span class="emotionBG" id="happiness">
	  	<p class="emotion">HAPPINESS</p>
	  </span>
	  <span class="emotionBG" id="freedom">
	  	<p class="emotion">FREEDOM</p>
	  </span>
	</nav>
</div>

<br><br><br>
<a href="/secondEmotionCode">
	<button type="button" class="btn btn-default">
		Submit
	</button>
</a>
<div style="padding:20px"></div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
var c = "rgb(170,170,170)";

var surprise_clicked = -1;
$( "#surpise" )
  .on( "click", function() {
  	surprise_clicked = surprise_clicked * (-1);
  	if(surprise_clicked === 1 ) { $( this ).css({ "background-color": "#59a7d8"}); };
	if(surprise_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var sadness_clicked = -1;
$( "#sadness" )
  .on( "click", function() {
  	sadness_clicked = sadness_clicked * (-1);
  	if(sadness_clicked === 1 ) { $( this ).css({ "background-color": "#663ec7"}); };
	if(sadness_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var fear_clicked = -1;
$( "#fear" )
  .on( "click", function() {
  	fear_clicked = fear_clicked * (-1);
  	if(fear_clicked === 1 ) { $( this ).css({ "background-color": "#62dcc7"}); };
	if(fear_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var anger_clicked = -1;
$( "#anger" )
  .on( "click", function() {
  	anger_clicked = anger_clicked * (-1);
  	if(anger_clicked === 1 ) { $( this ).css({ "background-color": "#ed462f"}); };
	if(anger_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var disgust_clicked = -1;
$( "#disgust" )
  .on( "click", function() {
  	disgust_clicked = disgust_clicked * (-1);
  	if(disgust_clicked === 1 ) { $( this ).css({ "background-color": "#b048be"}); };
	if(disgust_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var serenity_clicked = -1;
$( "#serenity" )
  .on( "click", function() {
  	serenity_clicked = serenity_clicked * (-1);
  	if(serenity_clicked === 1 ) { $( this ).css({ "background-color": "#8ad698"}); };
	if(serenity_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var happiness_clicked = -1;
$( "#happiness" )
  .on( "click", function() {
  	happiness_clicked = happiness_clicked * (-1);
  	if(happiness_clicked === 1 ) { $( this ).css({ "background-color": "#ffed34"}); };
	if(happiness_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

var freedom_clicked = -1;
$( "#freedom" )
  // .on( "mouseenter", function() { $(this).css({"opacity":"0.8"}); })
  // .on( "mouseleave", function() { $(this).css({"opacity":"1"}); })
  .on( "click", function() {
  	freedom_clicked = freedom_clicked * (-1);
  	if(freedom_clicked === 1 ) { $( this ).css({ "background-color": "#f49c31"}); };
	if(freedom_clicked === -1) { $( this ).css({ "background-color": c}); }
  });

</script>
